sage/
__pycache__/
*.pyc
*.csv
*.npy
*.pt
*.tar.gz
*.txt
data/
!webapp/data/
matrix-decode.txt
q303-cyclicshifts.txt
seberry.txt
km9.txt
sagemath-out.txt
2016-0029.txt
micromagnetics.txt
quantum-h-matrix.txt
rh.txt
*.pdf
Anaconda3-*.sh
